@use '../../styles/main' as *;

.logement {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px 50px;

  @media (max-width: 768px) {
    padding: 0 20px 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__info {
    flex: 1;
  }

  &__title {
    font-size: 36px;
    font-weight: 500;
    color: $primary-color;
    margin-bottom: 5px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &__location {
    font-size: 18px;
    color: $text-color;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  &__tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__tag {
    background-color: $primary-color;
    color: $white;
    padding: 3px 40px;
    border-radius: 10px;
    font-size: 14px;

    @media (max-width: 768px) {
      font-size: 10px;
      padding: 3px 20px;
      border-radius: 5px;
    }
  }

  &__host-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;

    @media (max-width: 768px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
  }

  &__host {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__host-name {
    font-size: 18px;
    color: $primary-color;
    text-align: right;
    max-width: 93px;

    @media (max-width: 768px) {
      font-size: 12px;
      max-width: 60px;
    }
  }

  &__host-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;

    @media (max-width: 768px) {
      width: 32px;
      height: 32px;
    }
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 76px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  &__collapse {
    width: 100%;
  }
}
